body{

font-family:'Poppins', sans-serif;
text-align:center;
margin-top:80px;
background:#F6F5F5;
color:#222222;

}

h1{
color:#414BEA;
}

input{

padding:12px;
font-size:16px;
margin:10px;
border-radius:6px;
border:1px solid #ccc;

}

button{

padding:12px 22px;
font-size:16px;
cursor:pointer;
border:none;
border-radius:6px;
background:#414BEA;
color:white;

}

button:hover{

background:#7752FE;

}

#heatmap{

display:grid;
grid-template-columns:repeat(10,22px);
grid-template-rows:repeat(7,22px);
gap:5px;
justify-content:center;
margin-top:20px;

}

.day{

width:22px;
height:22px;
background:#D9E2FF;
border-radius:4px;

}

.solved{

background:#414BEA;

}
